body {
  background-color: rgb(181, 194, 182);
}

h1 {
  color: cornflowerblue;
  transition: color 0.4s ease-in-out;
}

.clicked {
  color: tomato;
}

.sexy-font {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
